header {
    display: flex;
   border-bottom: 2px solid rgb(0, 121, 217) ;
    width: 90%;  
    
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
    .navbar li {text-indent: 15px;
        
         a {
            text-decoration: none;
            color: rgb(0, 121, 217);
            font-size: 20px;     
            box-shadow: 2px 0 1,5px 3px;    
          }
          & :hover {color: grey;}
    }


}
