
.banner-ofertas {
    color: #484a50;
    background-image: url(../assets/fotos/baner_catalogo.jpg);
    @include banner;
    &:hover {color: rgb(13, 138, 221);}
}
.cards-ofertas{
display: flex;
flex-direction: column;
width: 90%;



margin: 2% auto;
.card1 {
    display: grid;
    grid-template-columns: 15% 65% 15%;
    border: 2px solid rgb(0, 121, 217);
    border-radius: 6px;
    margin: 2%;
    justify-content: space-between;
    box-shadow:0px 0px 5px 00px;
.descripcion {
    padding-top: 15px ;
    h2 {font-size: 25px;}
    h3 {font-size: 15px;}

   
   
}
.precio {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    color: rgb(0, 121, 217);
    h4 {font-size: 30px;
    font-weight: 600;}
    .comprar {
        display: flex;
        margin-left: 10px;
        gap: 10px;
       button {
        font-size: 15px;
        width: 100px;
        border-radius: 6px;
        font-weight: 600;
        margin-right: 50px;
       }
       
    
    }
}
img {
    padding-left: 20px;
}


}
}

