
.catalogo {
    color: #484a50;
    background-image: url(../assets/fotos/baner_catalogo.jpg);
    @include banner;
    &:hover {color: rgb(13, 138, 221);}
        
    }
   

    .cards-cat {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        justify-content:space-around;
        column-gap: 2px ;
        row-gap: .625rem;
        margin: 10px 0px 10px 0px;

        .card1 {
           
            margin:2% auto;
            padding: 10px;
            width: 18.75rem;
            min-height: 280px;
            border-radius: 20px;
            background: #e8e8e8;
            box-shadow: 5px 5px 6px #dadada,
                         -5px -5px 6px #f6f6f6;
             img {width: 50%;}   
             h3 {
                  font-size: 1.125rem;
                  &:hover {color: rgb(36, 127, 231);}
                           
                        }
                        p {
                                margin-top: 15px;
                                color: $grayish-blue;
                                text-align: left;
                                font-weight: 400;
                                font-size: .875rem;
                            }
                         
            

        }
        .card2 {
           @extend .card1;

        }
        .card3 {
            @extend .card1;


        }
        .card4 {
            @extend .card1;


        }
        .card5{
            @extend .card1;

        }
        .card6 {
            @extend .card1;

        }
        .card7 {
            @extend .card1;


        }
        .card8 {
            @extend .card1;


        }
    


        }


