
@media (max-width: 768px) {

.frase {
    h2 {
    font-size: 20px;
    font-weight: 600;
    }
}

    .footer {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
    .historiaFooter {
        margin-top: 20px;
    }
    .datos-contacto {
        margin-top: 20px;
    }




}
.cards-cat{
    
    grid-template-columns: repeat(2,1fr);
    margin: auto ;
    padding-left: 2px;
    row-gap: 30px;
    




}
.quienes-main {
    .lista {
        .list {
            font-size: 16px;
            
           
        }
        .hist-quienes {
            font-size: 14px;
        }
    }
}
.cards-ofertas {
   .card1 {
    grid-template-columns: 20% 55% 15% ;
   }
}

/****quienes somos***/

.quienes-somos {
    color: black;
    h2 {font-weight: 600;}
}

/***contacto***/

.contacto {color: black;
h2 {font-weight: 600;}
}


}