
@media (max-width: 320px) {
   
    header {
        display: flex;
        flex-direction: column;
        
    }
   
    .frase {
        width: 100%;
        margin: 2px;
        padding-left: 1.25rem;
        h2{
            font-size: .875rem;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 1fr);
        column-gap: .625rem;
        width: 100%;
        margin: 2%;
         .logo  {
            font-size: .9375rem;
           }
    .historiaFooter {
        padding-left: 1.25rem;
        h2 {
            font-size: .875rem;
        }
        p {font-size: .875rem;}
    }


    .datos-contacto{
        padding-left: 1.25rem;
        font-size: .875rem;
        h2 {font-size: .875rem;}

    }
    }


   
.catalogo {color: white;}



.map-quienes {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 18.75rem;
    column-gap: .625rem;
   
    h3 {text-align: center;
    font-size: .875rem;}
    li {
        font-size: .875rem;
    }

    h4 {
        font-size: 16px;
    }
    .mapouter {
                iframe {width: 300px; height: 200px;}
        
        
    }
   
}
}
