.quienes-somos {
    background-image:url(../assets/fotos/quienes-somos.png);
   @include banner;
  &:hover {color: rgb(13, 138, 221);}
  
}

.quienes-main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1fr;
    margin: 30px 2% ;
   
    .lista {
    margin-left: 20px;
    .list { font-size: 18px;
        text-align: center;
    font-weight: 600;}
    .hist-quienes {
        font-size: 14px;
        font-weight:550;
    }

   


    }


}